{% extends "base.html" %}
{% block title %} Reactions {% endblock %}

{% block content %}
<div class="text-center">
    <a href="{% url 'reaction:create' %}">
        <button class="btn btn-lg btn-success">
            Log Reaction
        </button>
    </a>
    <br />
    <br />
</div>
<div class="container">
    {% for reaction in reactions %}
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            {% if reaction.reaction %}
            <div class="panel panel-danger">
                {% else %}
                <div class="panel panel-success">
                    {% endif %}
                    <div class="panel-heading">
                        <div class="panel-title">
                            {{ reaction.date }}
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            <b>
                                {% if reaction.reaction %}
                                Had a reaction.
                                {% else %}
                                Had no reaction
                                {% endif %}
                            </b>
                            <a class="pull-right" href="{% url 'reaction:update' reaction.id %}">
                                <button class="btn btn-sm btn-danger">
                                    Edit Reaction
                                </button>
                            </a>
                        </p>
                        <p>
                            {{ reaction.diary }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>
        {% empty %}
        <h3>No reactions registered.</h3>
        {% endfor %}
    </div>
    {% endblock %}
