{% extends "base.html" %}
{% block title %} Food Diary {% endblock %}

{% block content %}
<div class="text-center">
    <a href="{% url 'meal:create' %}">
        <button class="btn btn-lg btn-success">
            Add Meal
        </button>
    </a>
    <br />
    <br />
</div>
<div class="container">
    {% for date, meals in daylist %}
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="panel panel-primary">
                <div class=" panel-heading">
                    <div class="panel-title">
                        {{ date }}
                    </div>
                </div>

                {% for meal in meals %}
                <div class="list-group-item list-group-item-light">
                    <p>{{ meal.amount }} g of {{ meal.food.name }}
                        <a class="pull-right" href="{% url 'meal:delete' meal.id %}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    {% empty %}
    <h3>No meals registered yet.</h3>
    {% endfor %}
</div>
{% endblock %}
