{% extends "base.html" %}
{% block title %} List of all recipe {% endblock %}

{% block content %}
<div class="row">
    <div class="text-center">
        <a href="{% url 'recipe:create' %}">
            <button class="btn btn-lg btn-success">
                Add a new recipe
            </button>
        </a>
        <br />
        <br />
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Recipes
                    </div>
                </div>
                <div class="panel-body">
                    <form method="get">
                        <div class="form-inline">
                            <input class="form-control" type="text" name="recipe" placeholder="Search by recipe name">
                            <button class="btn" type="submit">Search</button>
                        </div>
                    </form>
                    <ul class="list-group">
                        {% for recipe in object_list %}
                        <a class="list-group-item list-group-item-light" href="{% url 'recipe:detail' recipe.id %}">
                            {{ recipe.name }}
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
{% endblock %}
