{% extends "base.html" %}
{% block title %} Edit recipe {% endblock %}

{% block content %}
<div class="row">
    <div class="panel panel-primary center-block" style="max-width:600px">
        <div class="panel-heading">
            <div class="panel-title">Edit recipe</div>
        </div>
        <div class="panel-body">
            <form method="post" class="form-vertical">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group form-group-lg center-block">
                    <h4>{{ field.label_tag }}</h4>
                    {{ field.errors }}
                    {{ field }}
                </div>
                {% endfor %}

                <input type="submit" class="btn btn-primary center-block" value="Update recipe">
            </form>
        </div>
        <div class="panel-footer">
            <div class="text-center">
                <a href="{% url 'recipe:ingredients:create' recipe.id %}">
                    <button class="btn btn-lg btn-success">
                        Add Ingredient
                    </button>
                </a>
                <br />
                <br />
            </div>
            <ul class="list-group">
                {% for ingredient in ingredients %}
                <div class="list-group-item list-group-item-light">
                    <div class="row">
                        <div class="col-xs-8">
                            {{ ingredient.amount }} g of {{ ingredient.ingredient.name }}
                        </div>
                        <div class="col-xs-4">
                            <a href="{% url 'recipe:ingredients:update' recipe.id ingredient.id %}">
                                <button class="btn btn-primary">
                                    Edit
                                </button>
                            </a>

                            <a href="{% url 'recipe:ingredients:delete' recipe.id ingredient.id %}">
                                <button class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>No ingredients registered.</p>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
