{% extends "base.html" %}
{% block title %} {{ object.name }} {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">{{ object.name }}</div>
                </div>
                <ul class="list-group">
                    {% for allergen in allergens %}
                    <div class="list-group-item list-group-item-light">
                        {{ allergen.amount }} g of {{ allergen.allergen.name }}
                    </div>
                    {% empty %}
                    <p>No known allergens in this ingredient.</p>
                    {% endfor %}
                </ul>
                <div class="panel-footer">
                    <div class="text-center">
                        <a href="{% url 'ingredient:update' object.id %}">
                            <button class="btn btn-lg btn-danger">
                                Edit
                            </button>
                        </a>
                        <a href="{% url 'ingredient:delete' object.id %}">
                            <button class="btn btn-lg btn-danger">
                                Delete
                            </button>
                        </a>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
{% endblock %}
