{% extends "base.html" %}
{% block title %} List of all ingredients {% endblock %}

{% block content %}
<div class="row">
    <div class="text-center">
        <a href="{% url 'ingredient:create' %}">
            <button class="btn btn-lg btn-success">
                Add a ingredient
            </button>
        </a>
        <br />
        <br />
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Ingredients
                    </div>
                </div>
                <div class="panel-body">
                    <form method="get">
                        <div class="form-inline">
                            <input class="form-control" type="text" name="ingredient"
                                placeholder="Search by ingredient name">
                            <button class="btn" type="submit">Search</button>
                        </div>
                    </form>

                    <ul class="list-group">
                        {% for ingredient in object_list %}
                        <a class="list-group-item list-group-item-light"
                            href="{% url 'ingredient:detail' ingredient.id %}">
                            {{ ingredient.name }}
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>
{% endblock %}
