{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">{% block panel_title %}{% endblock %}</div>
                </div>
                <div class="panel-body">
                    {% block panel_body %}{% endblock %}
                </div>
                <div class="panel-footer">
                    {% block panel_footer %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>
{% endblock %}
