{% extends "base.html" %}
{% block title %} Ranking {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Ranking</div>
                </div>
                <ul class="list-group">
                    {% for suspect in ranking %}
                    <a href="{% url 'history' suspect=suspect.name %}" class="list-group-item list-group-item-light">
                        <p>{{ suspect.name }}
                            <span class="badge pull-right">
                                {{ suspect.reactivity }}
                            </span>
                        </p>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
{% endblock %}
